.red {
  background-color: #b91b1b;
}

.green {
  background-color: #1e6712;
}

.blue {
  background-color: #31348a;
}

.yellow {
  background-color: #cfc32c;
}

.purple {
  background-color: #8965ad;
}

.orange {
  background-color: #e8af4d;
}
