@font-face {
  font-family: 'LatoLatinLight';
  src: url("../fonts/LatoLatin-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Light.woff2") format("woff2"), url("../fonts/LatoLatin-Light.woff") format("woff"), url("../fonts/LatoLatin-Light.eot") format("truetype"); }
body {
  font-family: sans-serif;
  margin: 0; }

.color-picker-main-container {
  margin-bottom: 80px; }

.color-picker-component {
  display: flex;
  flex-flow: row wrap; }
  .color-picker-component.hidden {
    display: none; }

.first-half {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 50%;
  border: solid thin black;
  box-sizing: border-box;
  border-bottom: 0; }
  .first-half .color-picker {
    display: flex;
    height: 3em;
    width: 5em; }
  .first-half .color-picker-container {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 20px 0 20px; }
    .first-half .color-picker-container input {
      border-radius: 3px; }
    .first-half .color-picker-container .input-color {
      font-size: 2em;
      display: flex; }
  .first-half .hex {
    font-size: 2em;
    padding: 20px; }
  .first-half .rgb {
    font-size: 2em;
    padding: 20px; }

.second-half {
  display: flex;
  flex: 1 0 50%;
  flex-flow: column wrap;
  border: solid thin black;
  box-sizing: border-box;
  border-left: 0;
  border-bottom: 0; }
  .second-half p {
    margin: 1em; }

@media screen and (max-width: 1023px) {
  .color-picker-main-container {
    margin-bottom: 80px; }
    .color-picker-main-container .color-picker-component {
      display: table;
      flex-flow: row nowrap; }

  .first-half {
    display: block;
    flex-flow: row nowrap;
    flex: 0 1 auto;
    border: solid thin black;
    box-sizing: border-box;
    border-bottom: 0;
    width: 100%; }
    .first-half .color-picker-container {
      display: block;
      flex-flow: row nowrap;
      margin: 0;
      padding: 20px; }
      .first-half .color-picker-container .input-color {
        display: block; }
    .first-half .hex {
      font-size: 2em;
      padding: 20px; }
    .first-half .rgb {
      font-size: 2em;
      padding: 20px; }
    .first-half .color-picker {
      display: block;
      height: 3em;
      width: 5em; }

  .second-half {
    display: block;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    width: 100%; } }
.color-palette {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 0 20px; }

.color-palette button {
  border-radius: 3px;
  width: 30px;
  height: 30px; }

@media screen and (max-width: 1023px) {
  .color-palette {
    display: block;
    flex-flow: row nowrap;
    align-items: baseline;
    margin: 0;
    padding: 0 20px; }

  .color-palette button {
    border-radius: 3px;
    width: 30px;
    height: 30px; } }
footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: #002b36;
  width: 100%;
  font-size: 0; }

.footer-navigation {
  display: inline-block;
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  padding: 10px; }

.attribution {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
  color: #fdf6e3; }

footer a {
  color: #fdf6e3; }

@media screen and (max-width: 1023px) {
  footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    background-color: #002b36;
    width: 100%;
    font-size: 0;
    padding: 5px;
    box-sizing: border-box; }
    footer a {
      font-size: 10px; }

  .footer-navigation {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 0; }

  .attribution {
    display: block;
    width: 100%;
    font-size: 10px;
    text-align: left;
    color: #fdf6e3;
    padding: 0; }

  footer a {
    color: #fdf6e3; } }

/*# sourceMappingURL=style.css.map */
