@font-face {
  font-family: 'LatoLatinLight';
  src: url("../fonts/LatoLatin-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Light.woff2") format("woff2"), url("../fonts/LatoLatin-Light.woff") format("woff"), url("../fonts/LatoLatin-Light.eot") format("truetype"); }
html {
  position: fixed;
  overflow: hidden;
  width: 100%; }

body {
  position: fixed;
  overflow: hidden;
  font-family: sans-serif;
  margin: 0;
  width: 100%; }

.body-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll; }

.color-picker-main-container {
  margin-bottom: 120px;
  width: 100%;
  font-size: 22px;
  font-family: sans-serif; }

.color-picker-component {
  display: table;
  width: 100%; }
  .color-picker-component.hidden {
    display: none; }

.first-half {
  display: table-cell;
  width: 50%;
  border: solid 1px black;
  box-sizing: border-box;
  padding: 20px; }
  .first-half .color-picker {
    display: block;
    height: 30px;
    width: 50px; }
  .first-half .color-picker-container {
    display: block; }
    .first-half .color-picker-container input {
      border-radius: 3px; }
    .first-half .color-picker-container .input-color-container {
      border: 1px solid black;
      border-radius: 3px;
      padding: 2px 4px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #FFF, 0 1px 0 #FFF; }
    .first-half .color-picker-container .input-color {
      display: inline-block;
      font-size: 22px;
      font-family: sans-serif;
      width: 100%;
      border: 0; }
  .first-half .hex {
    margin: 10px 0; }

.second-half {
  display: table-cell;
  width: 50%;
  border: solid 1px black;
  box-sizing: border-box; }
  .second-half div {
    padding: 20px; }

@media screen and (max-width: 1023px) {
  .color-picker-main-container {
    margin-bottom: 120px; }
    .color-picker-main-container .color-picker-component {
      display: block;
      width: auto; }

  .first-half {
    display: block;
    padding: 20px;
    width: auto; }
    .first-half .color-picker-container {
      margin: 0; }
      .first-half .color-picker-container .input-color-container {
        margin: 0 0 10px 0; }
      .first-half .color-picker-container .input-color {
        display: block;
        width: auto; }

  .second-half {
    display: block;
    width: auto; } }
.color-palette {
  display: block;
  margin: 10px 0; }

.color-palette button {
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: inline-block; }

@media screen and (max-width: 1023px) {
  .color-palette {
    display: block;
    margin: 0; }

  .color-palette button {
    border-radius: 3px;
    width: 30px;
    height: 30px; } }
footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: #002b36;
  width: 100%;
  font-size: 0; }

.footer-navigation {
  display: inline-block;
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  padding: 10px; }

.attribution {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
  color: #fdf6e3; }

footer a {
  color: #fdf6e3; }

@media screen and (max-width: 1023px) {
  footer {
    position: absolute;
    bottom: 0;
    background-color: #002b36;
    width: 100%;
    font-size: 0;
    padding: 5px;
    box-sizing: border-box; }
    footer a {
      font-size: 10px; }

  .footer-navigation {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 0; }

  .attribution {
    display: block;
    width: 100%;
    font-size: 10px;
    text-align: left;
    color: #fdf6e3;
    padding: 0; }

  footer a {
    color: #fdf6e3; } }

/*# sourceMappingURL=style.css.map */
