body {
  font-family: sans-serif;
  margin: 0;
}

.color-picker-component {
  display: flex;
  flex-flow: row wrap;
}

.color-picker-container {
  display: flex;
  flex-flow: row wrap;
}

.first-half {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 50%;
  border: solid thin black;
  box-sizing: border-box;
  border-bottom: 0;
}

.second-half {
  display: flex;
  flex: 1 0 50%;
  flex-flow: column wrap;
}

.second-half .top {
  display: flex;
  width: 100%;
  height: 50%;
}

.second-half .bottom {
  display: flex;
  width: 100%;
  height: 50%;
}

.color-picker-container {
  display: flex;
  flex-wrap: row wrap;
  padding: 20px 20px 0 20px;
}

.color-picker-container input {
  border-radius: 3px;
}

.color-palette {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 0 20px;
}

.color-palette button {
  border-radius: 3px;
  width: 30px;
  height: 30px;
}

.color-palette {
  display: flex;
}

.color-palette a {
  display: inline-block;
  text-decoration: none;
}

input.input-color {
  font-size: 2em;
  display: flex;
}

.color-picker {
  display: flex;
  height: 3em;
  width: 5em;
}

.back-to-home-link {
  padding: 1em;
}

.back-to-home-link button {
  display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
  padding: .5em;
  border-radius: .1em;
}

.back-to-home-link a {
  padding: 0;
}

.back-to-home-link a:link,
a:visited,
a:hover,
a:active,
a:focus  {
	color: black;
}

.hex {
  font-size: 2em;
  padding: 20px;
}

.rgb {
  font-size: 2em;
  padding: 20px;
}

.attribution {
  margin: 1em;
}

@media screen and (max-width: 1023px) {

}
