.color-picker-component {
  display: table;
  width: 100%;

  &.hidden {
    display: none;
  }
}

.first-half {
  display: table-cell;
  width: 50%;
  border: solid 1px black;
  box-sizing: border-box;
  padding: 20px;

  .color-picker {
    display: block;
    height: 30px;
    width: 50px;
  }

  .color-picker-container {
    display: block;

    input {
      border-radius: 3px;
    }

    .input-color-container {
      border: 1px solid black;
      border-radius: 3px;
      padding: 2px 4px;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    }

    .input-color {
      display: inline-block;
      font-size: 22px;
      font-family: sans-serif;
      width: 100%;
      border: 0;
    }

  }
  .hex {
    margin: 10px 0;
  }

  .rgb {
  }
}

.second-half {
  display: table-cell;
  width: 50%;
  border: solid 1px black;
  box-sizing: border-box;

  div {
    padding: 20px;
  }
}


@media screen and (max-width: 1023px) {
  .color-picker-main-container {
    margin-bottom: 120px;

    .color-picker-component {
      display: block;
      width: auto;
    }
  }

  .first-half {
    display: block;
    padding: 20px;
    width: auto;

    .color-picker-container {
      margin: 0;

      .input-color-container {
        margin: 0 0 10px 0;
      }

      .input-color {
        display: block;
        width: auto;
      }

    }
    .hex {
    }

    .rgb {
    }

    .color-picker {
    }
  }

  .second-half {
    display: block;
    width: auto;
  }
}
