.color-picker-main-container {
  margin-bottom: 80px;
  width: 100%;
}

.color-picker-component {
  display: table;
  width: 100%;

  &.hidden {
    display: none;
  }
}

.first-half {
  display: table-cell;
  width: 50%;
  border: solid thin black;
  box-sizing: border-box;
  border-bottom: 0;


  .color-picker {
    display: block;
    height: 3em;
    width: 5em;
  }

  .color-picker-container {
    display: block;

    input {
      border-radius: 3px;
    }

    .input-color {
      font-size: 2em;
      display: flex;
    }

  }
  .hex {
    font-size: 2em;
  }

  .rgb {
    font-size: 2em;
  }
}

.second-half {
  display: table-cell;
  width: 50%;
  border: solid thin black;
  box-sizing: border-box;
  border-left: 0;
  border-bottom: 0;

  p {
    margin: 1em;
  }
}


@media screen and (max-width: 1023px) {
  .color-picker-main-container {
    margin-bottom: 80px;

    .color-picker-component {
      display: block;
      width: auto;
    }
  }

  .first-half {
    display: block;
    border: solid thin black;
    box-sizing: border-box;
    border-bottom: 0;
    padding: 20px;
    width: auto;

    .color-picker-container {
      margin: 0;

      .input-color {
        display: inline-block;
        width: 100%;
      }

    }
    .hex {
      font-size: 2em;
    }

    .rgb {
      font-size: 2em;
    }

    .color-picker {
      height: 3em;
      width: 5em;
    }
  }

  .second-half {
    display: block;
    width: auto;
  }
}
