footer{
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: #002b36;
  width: 100%;
  font-size: 0;
}

.footer-navigation {
  display: inline-block;
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.attribution {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
  color: #fdf6e3;
}

footer a {
  color: #fdf6e3;
}

@media screen and (max-width: 1023px) {
  footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    background-color: #002b36;
    width: 100%;
    font-size: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .footer-navigation {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 0;
  }

  .attribution {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #fdf6e3;
    padding: 0;
  }

  footer a {
    color: #fdf6e3;
  }
}
