footer {
  position: fixed;
  bottom: 0;
  background-color: #002b36;
  width: 100%;
  font-size: 0;
  z-index: 2;
  font-family: monospace;
  
  a {
    color: #fdf6e3;
  }
  
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.footer-navigation {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.attribution {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
  color: #fdf6e3;
}

@media screen and (max-width: 1023px) {
  footer {
    background-color: #002b36;
    font-size: 0;
    padding: 5px;
    box-sizing: border-box;

    a {
      font-size: 12px;
    }
  }

  .footer-navigation {
    display: block;
    width: 100%;
    padding: 0;
  }

  .attribution {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 0;
  }
}
