.more__page {
  padding: 20px;
  
  h2 {
    font-family: monospace;
  }
  
  a {
    font-family: monospace;
    font-size: 16px;
  }
  
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
  
  fieldset {
    display: inline-block;
    vertical-align: middle;    
  }
  
  .more__color-picker {
  }

  .more__start-percentage {

  }

  .more__end-percentage {

  }

  .more__percentage-gap {

  }

  .more__shades-demo {

  }

  .more__shades-demo-list {

  }

  .more__shades-output {

  }
}